<div>
  {{hero-thumbnail iconImage=seriesData.thumbnail class="comic"}}
  <h3>{{hero-name title=seriesData.title}}</h3>
  <p>{{seriesData.rating}}</p>
  <p>{{seriesData.startYear}} - {{seriesData.endYear}}</p>
  {{yield}}
</div>