<div class="container hero-header">
    <div class="hero-portrait">
      <div class="hero">
        {{hero-thumbnail iconImage=model.thumbnail}}
        <h2>{{model.name}}</h2>
        <hr>
        <h4>About</h4>
        <p>{{model.description}}</p>
        <hr>
        <ul class="about">
          <li>
            {{#link-to "hero.stories" model}}Stories <strong>{{model.items.stories}}</strong>{{/link-to}}
          </li>
          <li>
            {{#link-to "hero.series" model}}Series <strong>{{model.items.series}}</strong>{{/link-to}}
          </li>
          <li>
            {{#link-to "hero.comics" model}}Comics <strong>{{model.items.comics}}</strong>{{/link-to}}
          </li>
        </ul>
        {{outlet}}
      </div>
    </div>
</div>